.bor{
    border: 1px solid #3B63BF;
    box-shadow: 0 0 5px 1px #3B63BF; 
}

.main{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px){
        .container{
            max-width: 960px;
        }
    }

    .form-control{
       background-color: transparent !important; 
       border-radius: 0 !important;
    }



    @media (max-width: 768px){
        .w-75{
            width: 100% !important;
        }
        .lineReg{
            display: none;
        }
        .center{
            background-color: transparent !important;
        }
    }
    @media (max-width: 576px) {
        .lineReg{
            display: none;
        }
        .m20{
            margin: 40px 0 0 0;
        }
        .center{
            background-color: transparent !important;
        }
    }
    .center{
        background-color: #212434;
        padding: 50px;
        border-radius: 20px;
        margin: 0;

        .flex1{
            flex: 1;
        }
        .lineReg{
            width: 1px;
            height: 100%;
            background-color: #3A64C3;
        }
        .inputLineBottom{
            border: 0 !important;
            box-shadow: 0 2px 0px rgba(#3A64C3,0.5) !important;
            color:  #eee;
          &:focus{
            box-shadow: 0 4px 0px rgba(#3A64C3,1) !important;
            background-color: transparent !important;
            color:  #eee;
            }
          &:valid{
            box-shadow: 0 4px 0px rgba(#3A64C3,1) !important;
            background-color: transparent !important;
            color: #eee;
            }
        }
    }
}


