.glavMERACT{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(261px, 0px);
    width: 88px;
    height: 80px;
    // opacity: 0;
    // background-color: red;
    // background-color: transparent;
    border: 0;
    transition: .2s;
    &:hover{
        // background-color: red;
        // box-shadow: 0 0 5px 1px rgb(125, 158, 238); 
        cursor: pointer;
    } 
}